{% extends "network/layout.html" %}
{% load static %}
{% load custom_filters %}
{% block body %}


{% if user.is_authenticated and user.id != user_profile.id %}

{% endif %}

<div class="profile-container">
    <div class="profile-card">
      <h1 id="profile-username" class="profile-username">{{ user_profile.username }}</h1>
      <p id="followers">
        Followers: {{ user_profile.followers.count }}
      </p>
      {% if user|is_logged_in_user_following_user:user_profile %}
      <button id="follow-button" class="following">Unfollow</button>
      {% else %}
      <button id="follow-button" class="not-following">Follow</button>
      {% endif %}
    </div>
</div>


<div id="posts-container">

</div>
{% endblock %}


<!-- Scripts --> 
{% block scripts %}
<script src="https://unpkg.com/react@17/umd/react.production.min.js"></script>
<script src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js"></script>
<script type="module" src="{% static 'network/profile.js' %}"></script>

{% endblock %}