.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.paginator {
    margin-top: 3rem;
}

.post-container {
    width: 90vw;
    margin-top: 2rem;
    padding: 1.5rem;
    background-color: #e0e3e6;
    border-radius: 0.5rem;
    text-align: left;
}


.profile-container {
    width: 100vw;
    margin-top: 5rem;
}
  
.profile-card {
    padding: 1.5rem;
    background-color: #e0e3e6;
    border-radius: 0.5rem;
    text-align: center;
}

#profile-username {
    color: #007bff;
    font-size: 2rem;
    margin-bottom: 1rem;
}

#followers {
    font-size: 1.25rem;
}

#follow-button {
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
    margin-top: 1rem;
    background-color: #007bff; 
    color: #fff;
}

#follow-button:hover {
    background-color: #0056b3; 
}

#follow-button.following {
    background-color: red;
    color: #fff;
}

#follow-button:hover.following {
    background-color: darkred;
}
