.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.paginator {
    margin-top: 3rem;
}

#posts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-container {
    position: relative;
    width: 90vw;
    margin-top: 2rem;
    padding: 1.5rem;
    background-color: #e0e3e6;
    border-radius: 0.5rem;
    text-align: left;
    overflow: hidden;
}

.post-content {
    margin-top: 1rem;
    margin-bottom: 1rem;
    line-height: 1.5;
}


.like-button, .edit-button{
    background-color: transparent;
    border: none;
    cursor: pointer; 
    display: inline-block; 
}

.edit-button {
    position: absolute;
    top: 1rem; 
    right: 1rem; 
}

.created-time {
    margin-top: 0.5rem; 
    font-size: 0.8rem; 
    text-align: right;
    color: #666; 
}


a.creator-username {
    text-decoration: none;
    color: black;
    
}
a.creator-username:hover {
    text-decoration: underline;
    color: blue;
}

.profile-container {
    width: 100vw;
    margin-top: 5rem;
}
  
.profile-card {
    padding: 1.5rem;
    background-color: #e0e3e6;
    border-radius: 0.5rem;
    text-align: center;
}

#profile-username {
    color: #007bff;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.creator-username {
    width: 50vw;
} 

#followers {
    font-size: 1.25rem;
}

#follow-button {
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
    margin-top: 1rem;
    background-color: #007bff; 
    color: #fff;
}

#follow-button:hover {
    background-color: #0056b3; 
}

#follow-button.following {
    background-color: red;
    color: #fff;
}

#follow-button:hover.following {
    background-color: darkred;
}



@keyframes showNewPost {
    from {
        transform-origin: bottom;
        transform: scaleY(0);
    }
    to {
        transform-origin: bottom;
        transform: scaleY(1);
    }
}